---
layout: default
title: 
---

  <div class="row">
  <div class="col-md-9">
  <p>{{ page.description | markdownfy }}</p>
  </div>
  <div class="col-md-3" style="text-align:left;">
  {% if page.leader != nil %}
    <p><b>Coordenador</b></p>
    <p>
      <i class="fa fa-user fa-fw"></i> <a href='{{ site.base }}/people/{{ page.leader | sanitize_filename }}'>{{ page.leader }}</a>
    </p>
  {% endif %}
  {% if page.students[0].name != nil %}
    <p><b>Estudantes</b></p>
    <p>
    {% for student in page.students %}
    <i class="fa fa-user fa-fw"></i> <a href='{{ site.base }}/people/{{ student.name | sanitize_filename }}'>{{ student.name }}</a><br>
    {% endfor %}
    </p>
  {% endif %}
  {% if page.funding != nil %}
    <p><b>Financiamento</b></p>
    <p>{{ page.funding}}</p>
  {% endif %}
  <p><b>Data de execução</b></p>
  <p>{{ page.date_begin }} -
    {% if page.date_end != nil %}
        {{ page.date_end }}
    {% else %}
        Atualmente
    {% endif %}
  </p>
  {% if page.link != nil %}
    <p><b>Mais Informações</b></p>
    <p><i class="fa fa-globe fa-fw"></i> <a href='{{ page.link}}'>Webpage</a></p>
  {% endif %}
  </div>
  </div>
